<!DOCTYPE html>
<html>
<head>
	<title>Sklep komputerowy</title>
	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
	<%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>
<body>
	<nav class="navbar navbar-default navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
			
			</div>
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav navbar-right">
				<% if user_signed_in? %>
					<li>Logged in as <strong><%= current_user.email %></strong>.</li>
					<li><%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %></li>
					<li><%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %></li>
				<% else %>
					<li><%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %> </li>
					<li><%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %></li>
				<% end %>
				</ul>
			</div>	
		</div>
	</nav>
	
	<div class="container">
		<div class="col-sm-3">
			<br/>
<br/>
<br/>
			<div class="panel panel-default" style="margin-top: 20px;">
				<div class="panel-heading">
					Opcje
				</div>
				<ul class="nav nav-pills nav-stacked" style="margin: 0">
					<li role="presentation"><%= link_to "Add new product", new_product_path, :class => 'navbar-link'  %></li>
				</ul>
			</div>
		</div>	
		<div class="col-sm-9 padding-top">
			</br>
			</br>
			</br>
			<p id="notice"><%= notice %></p>

			<h1>Listing Products</h1>

			<table class="prTable" align="center">
			  <thead>
				<tr>
				  <th class="prTH">Firm</th>
				  <th class="prTH">Model</th>
				  <th class="prTH">Description</th>
				  <th class="prTH" colspan="3"></th>
				</tr>
			  </thead>

			  <tbody>
				<% @products.each do |product| %>
				  <tr class="accTR">
					<td class="accTD"><%= product.firm %></td>
					<td class="accTD"><%= product.model %></td>
					<td class="accTD"><%= product.description %></td>
					<td class="accTD"><%= link_to 'Show', product %></td>
					<td class="accTD"><%= link_to 'Edit', edit_product_path(product) %></td>
					<td class="accTD"><%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %></td>
				  </tr>
				<% end %>
			  </tbody>
			</table>
			<br>
		</div>	
	</div>
</body>
